/*Content styles---------------------------------------------------------------------------------------------------------------*/
.main-content-descimg{
    display: block;
    float: left;
    margin: 10px;
    margin-left: 0;
    width: 25%;
    height: 25%;
}
.main-content-desc{
    display: block;
    overflow: hidden;
}
.main-content-desc h1{
    font-size: 200%;
    font-family: ibmSansThin, Candara, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5pt;
    margin: 0;
}